<section id="section-{{ section.id }}" class="section {{ block.settings.alternate-margin-bottom-size}}" data-section-id="{{ section.id }}" data-section-type="alternate__section">
  <div class="alternate  {{ block.settings.container_size}}">
    {% unless block.settings.title == blank %}
    <h2 class="alternate__title z-h2 align-center"> {{ block.settings.alternate-title-section }} </h2>
    {% endunless %}

    <div class="z-grid z-grid--center alternate__container" >
      {% if block.settings.alternate-invert_section == false %}
      <div class="1/2--lap-and-up z-grid__cell ">
        {% if block.settings.alternate-video_url == blank %}
        <div class="alternate__ImgContainer">
          <img class="alternate__image" src="{{ block.settings.alternate-image | img_url : '500x' }}" alt="{{block.settings.alternate-image.alt}}">
        </div>
        {% else %}
          <iframe src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="350" height="350" frameborder="0" allowfullscreen></iframe>
        {% endif %}
      </div>
      {% endif %}

      <div class="1/3 z-grid__cell alternate__text-container">
        <h3 class="align-center z-h3">{{ block.settings.alternate-title }}</h3>
        <div class="align-center alternate__richText">{{ block.settings.alternate-text}}</div>
        <div class="align-center alternate__cta"><a href="#">{{ block.settings.alternate-cta}}</a></div>
        <div ><a href="{{ block.settings.alternate-url }}">{{ block.settings.alternate-url}}</a></div>
      </div>

      {% if block.settings.alternate-invert_section == true %}
      <div class="1/2--lap-and-up z-grid__cell ">
        {% if block.settings.alternate-video_url == blank %}
        <div class="align-right alternate__ImgContainer">
          <img class="alternate__image" src="{{ block.settings.alternate-image | img_url : '500x' }}" alt="{{block.settings.alternate-image.alt}}">
        </div>
        {% else %}
          <iframe src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="350" height="350" frameborder="0" allowfullscreen></iframe>
        {% endif %}
      </div>
      {% endif %}

    </div>
  </div>
</section>
