<section id="section-{{ section.id }}" class="section relative {{ block.settings.alternate-margin-bottom-size}}" data-section-id="{{ section.id }}" data-section-type="slider-mega-section">
  <div data-slider class="slider  ">

    <div class="slider__slides relative align-center">
      {% unless block.settings.banner-image1 == blank %}
      <img class="slider__image {{ block.settings.banner-slider_height}}" src="{{ block.settings.banner-image1 | img_url : '1050x' }}" alt="{{block.settings.banner-image1.alt}}">
      {% endunless %}
      <div class="banner-slider__encart">
        {% unless block.settings.banner-subtitle1 == blank %}
        <h1 class="slider__subtitle align-center">{{ block.settings.banner-subtitle1 }}</h1>
        {% endunless %}
        {% unless block.settings.banner-richtext1 == blank %}
        <h2 class="slider__richtext align-center">{{ block.settings.banner-richtext1 }}</h2>
        {% endunless %}
      </div>
    </div>

      <div class="slider__slides relative align-center">
        {% unless block.settings.banner-image2 == blank %}
        <img class="slider__image {{ block.settings.banner-slider_height}}" src="{{ block.settings.banner-image2 | img_url : '1050x' }}" alt="{{block.settings.banner-image2.alt}}">
        {% endunless %}
        <div class="banner-slider__encart">
          {% unless block.settings.banner-subtitle2 == blank %}
          <h1 class="slider__subtitle align-center">{{ block.settings.banner-subtitle2 }}</h1>
          {% endunless %}
          {% unless block.settings.banner-richtext2 == blank %}
          <h2 class="slider__richtext align-center">{{ block.settings.banner-richtext2 }}</h2>
          {% endunless %}
        </div>
      </div>

      <div class="slider__slides relative align-center">
        {% unless block.settings.banner-image3 == blank %}
        <img class="slider__image {{ block.settings.banner-slider_height}}" src="{{ block.settings.banner-image3 | img_url : '1050x' }}" alt="{{block.settings.banner-image3.alt}}">
        {% endunless %}
        <div class="banner-slider__encart">
          {% unless block.settings.banner-subtitle3 == blank %}
          <h1 class="slider__subtitle align-center">{{ block.settings.banner-subtitle3 }}</h1>
          {% endunless %}
          {% unless block.settings.banner-richtext3 == blank %}
          <h2 class="slider__richtext align-center">{{ block.settings.banner-richtext3 }}</h2>ยง
          {% endunless %}
        </div>
      </div>

  </div>
  <div >
    <img class="slider__arrow slider__arrow--prev slick-prev" data-arrow-prev  src="{{ block.settings.banner-chevron_previous | img_url : '250x' }}" alt="{{block.settings.chevron_previous.alt}}">
  </div>
  <div >
    <img class="slider__arrow slider__arrow--next" data-arrow-next  src="{{ block.settings.banner-chevron_next | img_url : '250x' }}" alt="{{block.settings.chevron_next.alt}}">
  </div>
</section>
