<section id="section-{{ section.id }}" class="section__featured-product" data-section-id="{{ section.id }}" data-section-type="featured-product">
  <div class="feature-product__product-wraper">

    <div class="featured-product__title">
      <div class="align-center">
        {% unless block.settings.featured_product_title == blank %}
        <h2 class="featured_product_title y-h2 align-center">{{ block.settings.featured_product_title }}</h2>
        {% endunless %}
      </div>
    </div>

    {%- assign product = all_products[block.settings.featured_product] -%}

    <div class="featured-product__content-wraper">

      <div class="featured-product__images-container">
        <div data-slider-for class="featured-product__main-image">
          {% for image in product.images %}
            <div class="featured-product__image--big">
              <img src="{{ image.src | img_url : '500x' }}" alt="{{ product.images.last.alt | escape }}"/>
            </div>
          {% endfor %}
        </div>
        <div data-slider-nav class="featured-product__secondaries-images">
          {% for image in product.images %}
            <div class="featured-product__image--small">
              <img src="{{ image.src | img_url : '250x' }}" alt="{{ product.images.last.alt | escape }}"/>
            </div>
          {% endfor %}
        </div>
      </div>


      <div class="featured-product__infos">
        <h2 class="featured-product__info-title">{{ product.title | escape }}</h2>
        <div class="featured-product__price-wrapper">
          <span class="featured-product__product-price">{{ current_variant.price | money }}</span>
          {% if product.compare_at_price_max > product.price %}
            <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
            <s class="featured-product__compare-price">
              {% if current_variant.compare_at_price > current_variant.price %}
                {{ current_variant.compare_at_price | money }}
              {% endif %}
            </s>
          {% endif %}
        </div>

        <form class="featured-product__form" action="/cart/add" method="post" enctype="multipart/form-data">
          <input type="hidden" name="id">
          {% unless product.has_only_default_variant %}
          <div class="{% if section.settings.show_swatch %}hide{% endif %}">
            {% for option in product.options_with_values %}
              <div class="selector-wrapper js margin-bottom">
                <label for="SingleOptionSelector-{{ forloop.index0 }}">{{ option.name }}</label>
                <select id="SingleOptionSelector-{{ forloop.index0 }}" class="featured-product__single-option-selector margin-bottom" data-index="option{{ option.position }}">
                  {% for value in option.values %}
                    <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                      {{ value }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            {% endfor %}
          </div>
          {% endunless %}
          <select name="id" class="no-js featured-product__product-select margin-bottom">
            {% for variant in product.variants %}
              <option
                {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                data-variant-id="{{ variant.id }}"
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>


          <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
          <input class="margin-bottom" type="number" id="Quantity" name="quantity" value="1" min="1">
          <br><button class="featured-product__cta btn margin-bottom product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}" type="submit" name="add" data-add-to-cart aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}">
            <span data-add-to-cart-text>
              {% if current_variant.available %}
                {{ 'products.product.add_to_cart' | t }}
              {% else %}
                {{ 'products.product.sold_out' | t }}
              {% endif %}
            </span>
          </button>
          <div class="featured-product__description rte">{{ product.description }}</div>
        </form>
      </div>

    </div>

  </div>
</section>
