<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="reassurance">
  <div class="reassurance align-center">
    <div class="container">
      <h2 class="reassurance__title z-h2 align-center"> {{ block.settings.reassurance-title }} </h2>
      <div class="reassurance__text align-center">
        {{ block.settings.reassurance-text }}
      </div>
      <div class="z-grid z-grid--center">

        {% unless block.type == 'image' %}{% continue %}{% endunless %}
          <div class="z-grid__cell 1/3 1 grid__cell">
            <div class="align-left">
              <img class="reassurance__image" src="{{ block.settings.image | img_url : '250x' }}" alt="{{ block.settings.image.alt | escape }}">
            </div>
            <h3 class="align-left z-h3">{{ block.settings.reassurance-title1}}</h3>
            <div class="align-left">{{ block.settings.reassurance-subtitle1}}</div>
          </div>

          {% unless block.type == 'image' %}{% continue %}{% endunless %}
          <div class="z-grid__cell 1/3 1 grid__cell">
            <div class="align-left">
              <img class="reassurance__image" src="{{ block.settings.image | img_url : '250x' }}" alt="{{ block.settings.image.alt | escape }}">
            </div>
            <h3 class="align-left z-h3">{{ block.settings.reassurance-title2}}</h3>
            <div class="align-left">{{ block.settings.reassurance-subtitle2}}</div>
          </div>

          {% unless block.type == 'image' %}{% continue %}{% endunless %}
          <div class="z-grid__cell 1/3 1 grid__cell">
            <div class="align-left">
              <img class="reassurance__image" src="{{ block.settings.image | img_url : '250x' }}" alt="{{ block.settings.image.alt | escape }}">
            </div>
            <h3 class="align-left z-h3">{{ block.settings.reassurance-title3}}</h3>
            <div class="align-left">{{ block.settings.reassurance-subtitle3}}</div>
          </div>

      </div>
    </div>
  </div>
</section>
