<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="hero-header">
  {% if section.settings.background_color == false %}
  <div class="hero-header relative align-center {{ section.settings.banner_height}}">
    <div class="hero-header__container align-center">
      {% unless section.settings.hero_subtitle == blank %}
      <p class="hero-header__subtitle color--black align-center">{{ section.settings.hero_subtitle }}</p>
      {% endunless %}
      {% unless section.settings.hero_title == blank %}
      <{{ section.settings.hero_title_hn }} class="hero-header__title color--black underline-strong y-h1 align-center">{{ section.settings.hero_title }}</{{ section.settings.hero_title_hn }}>
      {% endunless %}
    </div>
  </div>
  {% else %}
  <div class="hero-header background--black relative align-center {{ section.settings.banner_height}}">
    <div class="hero-header__container align-center">
      {% unless section.settings.hero_subtitle == blank %}
      <p class="hero-header__subtitle color--white align-center">{{ section.settings.hero_subtitle }}</p>
      {% endunless %}
      {% unless section.settings.hero_title == blank %}
      <{{ section.settings.hero_title_hn }} class="hero-header__title p-color--white underline-strong y-h1 align-center">{{ section.settings.hero_title }}</{{ section.settings.hero_title_hn }}>
      {% endunless %}
    </div>
  </div>
  {% endif %}
</section>


{% schema %}
  {
    "name": "hero-header",
    "settings": [
      {
        "type": "text",
        "id": "hero_subtitle",
        "label": "Text",
        "default": "Ecrivez votre sous-titre"
      },
      {
        "type": "select",
        "id": "banner_height",
        "label": "Choisir la hauteur de la bannière",
				"options": [
          { "value" : "height--small", "label": "Petit"},
          { "value" : "height--normal", "label": "Normal"},
          { "value" : "height--full", "label": "Grand"}
        ]
      },
			{
        "type": "richtext",
        "id": "hero_title",
        "label": "heading",
        "default": "<p>Ajoutez votre titre</p>"
      },
      {
      "type": "select",
      "id": "hero_title_hn",
      "label": "heading balisage",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        }
      ]
    },
      {
        "type": "checkbox",
        "id": "background_color",
        "label": "Mettre le background en noir"
      }
    ],
    "presets": [
      {
        "name": "Hero Header",
        "category": "Hero Header"
      }
    ]
  }
{% endschema %}
