<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="feature-collection">
  <div class="feature-collection">
    <div class="align-center">
      <p class="feature-collection__title y-h2 align-center">{{ section.settings.feature_collection_title }}</p>
    </div>
    <div class="z-grid z-grid--center">

      {%- assign collection = collections[section.settings.collection] -%}

      {% for product in collection.products limit: 6 %}
        <div class="z-grid__cell 1/{{ section.settings.number_items_desktop }}--desk 1/{{ section.settings.number_items_mobile }} grid__cell">
          <a href="{{ product.url | within: collection }}" class="feature-collection__item">
            <div class="align-center">
              <div class="reveal ">
                <img src="{{ product.images[0] | img_url: '300x' }}"  alt="photo de basket" >
                <div class="hidden">
                  <img class="feature-collection__img-hidden" src="{{ product.images[1] | img_url: '450x450' }}" alt="{{ product.images.last.alt | escape }}" />
                  <div class="caption">
                    <div class="centered">
                      {% form "product", product %}
                      <input type="hidden" name="id">
                        <div class="feature-collection__container-label">
                          {% for variant in product.variants %}
                            <label class="feature-collection__select-container ">{{ variant.title | escape }}
                              <input type="radio" name="group1" value="{{ variant.id }}" data-variant-id="{{ variant.id }}" />
                              <span class="feature-collection__checkmark checkmark"></span>
                            </label>
                          {% endfor %}
                        </div>
                        <input class="feature-collection__btn btn" type="submit" value="Ajoutez au panier">
                      {% endform %}
                    </div>
                  </div>
                </div>
              </div>
              <p>{{ product.title | escape }}</p>
              <span>{{ product.price | money }}</span>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "feature-collection",
    "settings": [
      {
        "type": "text",
        "id": "feature_collection_title",
        "label": "Titre",
        "default": "Ecrivez votre titre"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      },
      {
        "type": "range",
        "id": "number_items_desktop",
        "min": 3,
        "max": 5,
        "step": 1,
        "unit": "pc",
        "label": "number of items desktop",
        "default": 3
    },
    {
        "type": "range",
        "id": "number_items_mobile",
        "min": 1,
        "max": 3,
        "step": 1,
        "unit": "pc",
        "label": "number of items mobile",
        "default": 1
    }
    ],
      "presets": [
        {
          "name": "Feature Collection SZ",
          "category": "Collection"
        }
      ]
    }
  {% endschema %}
