<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="feature-collection">
  <div class="feature-collection">
    <div class="z-grid z-grid--center">
      <div class="z-grid__cell 1/{{ section.settings.Number_items_desktop }}--desk 1/{{ section.settings.Number_items_mobile }} grid__cell">

        {%- assign collection = collections[section.settings.collection] -%}

        {% for product in collection.products limit: 6 %}
          <a href="{{ product.url | within: collection }}" class="feature-collection-item">
            <div class="align-center">
              {% for image in product.images %}
                <img src="{{ image | img_url: '300x' }}"  alt="" >
              {% endfor %}
              <p>{{ product.title | escape }} <br> <span>{{ product.price | money }}</span></p>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "feature-collection",
    "settings": [
      {
        "type": "text",
        "id": "feature_collection_title",
        "label": "Titre",
        "default": "Ecrivez votre titre"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "collection"
      },
      {
        "type": "range",
        "id": "number_items_row",
        "min": 2,
        "max": 5,
        "step": 1,
        "unit": "pc",
        "label": "Produits par lignes",
        "default": 3
      },
      {
        "type": "range",
        "id": "number_items_column",
        "min": 1,
        "max": 4,
        "step": 1,
        "unit": "pc",
        "label": "Nombres de columnes",
        "default": 2
      }
    ],
      "presets": [
        {
          "name": "Feature Collection SZ",
          "category": "Collection"
        }
      ]
    }
  {% endschema %}
