<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="header">
  <div class="header">
    <div class="header__container-logo">
      <img class="header__logo" src="{{ section.settings.logo_header | img_url : '250x' }}">
    </div>
    <div class="header__menu y-p">
      {% assign menu = linklists[section.settings.navbar] %}
      {% for link in menu.links %}
        <a href="{{link.url}}">{{ link.title }}</a>
      {%endfor%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_header",
        "label": "Logo image"
      },
      {
        "type": "link_list",
        "id": "navbar",
        "label": "Menu"
      }
    ],
    "presets": [
      {
        "name": "header",
        "category": "Header"
      }
    ]
  }
{% endschema %}
