<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="logos">
  <div class="logos align-center">
    <div class="logos__container-title align-center">
      <div class="logos__subtitle align-center">{{ section.settings.logo_title }}</div>
    </div>
    <div class="logos__container z-grid z-grid--center">
        {% for block in section.blocks %}
          <div class="z-grid__cell 1/{{ section.settings.number_logos }}--desk 1/{{ section.settings.number_logos_mobile }}--thumb grid__cell">
            <div class=" logo__container align-center">
              {% if block.settings.url_logos != blank %}
                <a href="{{ block.settings.url_logos }}" >
              {% endif %}
              {% unless block.settings.logos_img == blank %}
              <img class="logos__image-logo" src="{{ block.settings.logos_img | img_url : '250x' }}">
              {% endunless %}
              {% if block.settings.url_logos != blank %}
                </a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      <div class="1/2 1/2--thumb grid__cell"></div>
    </div>
    <div class="underline-strong">
      <div class="align-center logos__container-cta"><a class="logos__cta" href="{{ section.settings.url_bouton }}">{{ section.settings.cta}}</a></div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "logos",
    "settings": [
      {
        "type": "richtext",
        "id": "logo_title",
        "label": "Rentrez votre titre"
      },
      {
        "type": "text",
				"id": "cta",
        "label": "Texte du Bouton",
        "default": "Cliquez ici"
      },
      {
        "type": "url",
        "id": "url_bouton",
        "label": "Rentrez votre URL"
      },
      {
          "type": "range",
          "id": "number_logos",
          "min": 3,
          "max": 5,
          "step": 1,
          "unit": "pc",
          "label": "Nombre de logos sur desktop",
          "default": 3
      },
      {
          "type": "range",
          "id": "number_logos_mobile",
          "min": 3,
          "max": 5,
          "step": 1,
          "unit": "pc",
          "label": "Nombre de logos sur mobile",
          "default": 3
      }
    ],
    "presets": [
      {
        "name": "header_main",
        "category": "Header"
      }
    ],
	"blocks": [
      {
        "type": "image",
        "name": "logos_grid",
        "settings": [
          {
            "type": "image_picker",
            "id": "logos_img",
            "label": "Images"
          },
					{
		        "type": "url",
		        "id": "url_logos",
		        "label": "add your url"
      }
        ]
      }
    ],
		"presets": [
      {
        "name": "logos",
        "category": "Image"
      }
    ]
  }
{% endschema %}
