<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="reassurance">
  <div class="reassurance align-center">
    <div class="container">
      <h2 class="reassurance__title z-h1 align-center"> {{ section.settings.title }} </h2>
      <div class="reassurance__text align-center">
        {{ section.settings.text }}
      </div>
      <div class="z-grid z-grid--center">
          {% for block in section.blocks %}
           {% unless block.type == 'image' %}{% continue %}{% endunless %}
            <div class="z-grid__cell 1/{{ section.settings.number_items }} 1/{{ section.settings.number_items_mobile }}--thumb grid__cell">
              <div class="align-left">
                <img class="reassurance__image" src="{{ block.settings.image | img_url : '250x' }}">
              </div>
              <h3 class="align-left z-h3">{{ block.settings.title}}</h3>
              <div class="align-left">{{ block.settings.subtitle}}</div>
            </div>
          {% endfor %}
        <div class="1/2 1/2--thumb grid__cell"></div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "reassurance",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
      {
          "type":      "range",
          "id":        "number_items",
          "min":       2,
          "max":        5,
          "step":       1,
          "unit":       "pc",
          "label":     "Number of pieces desktop",
          "default":   3
      },
      {
          "type":      "range",
          "id":        "number_items_mobile",
          "min":       1,
          "max":        3,
          "step":       1,
          "unit":       "pc",
          "label":     "Number of pieces mobile",
          "default":   2
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "subtitle"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "reassurance",
      "category": "reassurance"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
