<section id="reassurance" class="reassurance-js">
</section>


<script>

function mySection() {
  var divReassurance = document.createElement("div");
  divReassurance.classList.add("reassurance", "align-center");

  var divContainer = document.createElement("div");
  divContainer.classList.add("container");

  var sectionTitle = document.createElement("h2");
  sectionTitle.innerHTML = "{{ section.settings.title }}";
  sectionTitle.classList.add("reassurance__title", "z-h2");

  var sectionText = document.createElement("div");
  sectionText.innerHTML = "{{ section.settings.text }}";
  sectionText.classList.add("reassurance__text");

  var blockContainer = document.createElement("div");
  blockContainer.classList.add("z-grid", "z-grid--center");
  blockContainer.id="reassuranceBlockContainer";

  {% for block in section.blocks %}


  var singleBlockContainer = document.createElement("div");
  singleBlockContainer.classList.add("reassurance__block-container", "z-grid__cell", "1/{{ section.settings.number_items }}", "1/{{ section.settings.number_items_mobile }}--thumb", "grid__cell");
  singleBlockContainer.id="reassuranceBlock";

  var imageContainer = document.createElement("div");
  imageContainer.classList.add("align-center");

  var image = document.createElement("img");
  image.classList.add("reassurance__image");
  image.setAttribute("src", "{{ block.settings.image | img_url : '250x' }}");
  image.setAttribute("alt", "{{block.settings.image}}");

  var title = document.createElement("h3");
  title.innerHTML = "{{ block.settings.title}}";
  title.classList.add("align-center", "z-h3");

  var subtitle = document.createElement("div");
  subtitle.innerHTML = "{{ block.settings.subtitle}}";
  subtitle.classList.add("align-center");

  blockContainer.appendChild(singleBlockContainer);
  singleBlockContainer.appendChild(imageContainer);
  imageContainer.appendChild(image);
  singleBlockContainer.appendChild(title);
  singleBlockContainer.appendChild(subtitle);


  {% endfor %}

  divReassurance.appendChild(divContainer);
  divContainer.appendChild(sectionTitle);
  divContainer.appendChild(sectionText);
  divContainer.appendChild(blockContainer);


  document.getElementById("reassurance").appendChild(divReassurance);

  var btn = document.createElement("button");
  btn.innerHTML= "change block order";
  btn.id="button";
  btn.classList.add("btn");
  divContainer.appendChild(btn);

  document.addEventListener("click", function() {
    var block = document.getElementById('reassuranceBlockContainer');
     for (var i = block.children.length; i >= 0 ; i--) {
       block.appendChild(block.children[Math.random() * i | 0 ]);
     }
  })
}


mySection();

</script>

{% schema %}
  {
    "name": "reassurance",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
      {
        "id": "text",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
      {
          "type": "range",
          "id": "number_items",
          "min": 2,
          "max": 5,
          "step": 1,
          "unit": "pc",
          "label": "Number of pieces desktop",
          "default": 3
      },
      {
          "type": "range",
          "id": "number_items_mobile",
          "min": 1,
          "max": 3,
          "step": 1,
          "unit": "pc",
          "label": "Number of pieces mobile",
          "default":2
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "subtitle"
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "reassurance-js",
      "category": "reassurance"
    }
  ]
  }
{% endschema %}
