<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="slider">
  <div data-slider {% if section.settings.show_arrows == true %} data-slider-arrow="true" {% endif %}  class="slider relative {{ section.settings.slider_height}}">
    {% for block in section.blocks %}
      <div class="slider__slides relative align-center">
        <img class="slider__image" src="{{ block.settings.slider_image | img_url : '1050x' }}">
        <div class="slider__encart">
          <div class="slider_subtitle align-center">{{ block.settings.slider_subtitle }}</div>
          <div class="align-center">
            <img class="slider_logo align-center" src="{{ block.settings.slider_logo | img_url : '250x' }}">
          </div>
          <div class="slider_slider_richtext align-center">{{ block.settings.slider_richtext }}</div>
        </div>
      </div>
    {% endfor %}

  </div>
</section>

{% schema %}
  {
    "name": "Slider",
		"max_blocks" : 8,
    "settings": [
      {
        "type": "select",
        "id": "slider_height",
        "label": "Choisir la hauteur du slider",
				"options": [
          { "value" : "height--small", "label": "Petit"},
          { "value" : "height--normal", "label": "Normal"},
          { "value" : "height--full", "label": "Grand"}
        ]
      },
      {
        "type": "url",
        "id": "link_svg",
        "label": "Chevron slider"
      }
    ],

	"blocks": [
      {
        "type": "image",
        "name": "slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "slider_image",
            "label": "Images background"
          },
					{
            "type": "image_picker",
            "id": "slider_logo",
            "label": "logo du client"
          },
					{
            "type": "richtext",
            "id": "slider_subtitle",
            "label": "Sous-titre",
						"default" : "<P>Ajoutez un sous-titre</p>"
          },
					{
            "type": "richtext",
            "id": "slider_richtext",
            "label": "Text",
						"default" : "<p>Ajoutez un texte</p>"
          }
        ]
      }
    ],
		"presets": [
      {
        "name": "slider_clients",
        "category": "slideshow"
      }
    ]
  }
{% endschema %}
